<!doctype html>
<head>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div><h2>Welcome {{fname}}</h2></div>
    <div>{{fname}} {{lname}} is a {{age}} year old {{gender}} who is also a {{skill}}</div>
</body>
</html>